*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
.section{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: #3F3F3F;
}
.parent1 p{
    color: #999999;
}
.parent1{
    padding: 9px;
    background-color: white;
    width: 40%;
    height: 220px;
    border-radius: 6px;
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}
.child11{
    height: 150px;
width: 80%;
/* background-color: cyan; */
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: flex-start;
position: relative;
}
.child{
   display:flex;
   justify-content:space-evenly;
   align-items:start;
   width:100%;
}
.icon{
	margin-top:20px;
	width:60px;
	height:60px;
	border-radius:50%;
	background-color: #FEE1E3;
	position:relative;
}
.icon:before {
   
    
    content: "\f071";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: red;
    font-size: 38px;
    padding-top: .4em;
    padding-left: .5em;
    position: absolute;
    top: -4px;
    left: -7px;
}
.child12{
	padding-right:46px;
    display: flex;
    gap: 20px;
	margin-bottom:30px;
}
.button{
    padding: 10px 20px;
    /* background-color: brown; */
    border-radius: 6px;
    border: 1px solid gray;
}
.button:hover{
	transition:2.5s;
	border:none;
    color: white;
    padding: 10px 20px;
    background-color: #D92822;
    border-radius: 6px;
    border: 1px solid gray;
}
.button:focus,.button:active {
  background-color: black;
  transition: none;
}